header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: $tertiary;
    margin-bottom: 90px;
    .headerImgContainer {
        width: 45%;
        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .headerContent {
        width: 55%;
        color: $primary;
        .contentContainer {
            margin: 0 auto;
            width: 65%;
        }
    }
}

.contactHeader {
    background-color: $quarternary;
    // Bring it down from the top
    padding-top:120px;
    .contactContent {
        display: flex;
        flex-direction: column;
        // Align the text in the center
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }
}

// WAVE DESIGN
.contactHeader::after {
    content: "";
    width: 100%;
    height: 150px;
    background-image: url(../assets/wave.svg);
    background-repeat: no-repeat;
    background-size: 100% 150px;
}